<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="~{fragmentos :: cabecalho('Price Whisper')}"></head>
<body>

  <header th:replace="~{fragmentos :: navbar}"></header>

  <div class="container">
    <h1>Login</h1>

    <div th:if="${param.success}" style="color: green">
      Cadastro feito com sucesso!
    </div>

    <div th:if="${param.error}" style="color: red">
      Erro ao efetuar login.
    </div>

    <div th:if="${param.logout}" style="color: green">
      Logout efetuado com sucesso!
    </div>

    <form th:action="@{/login}" method="post">
      <div class="col-6 mb-3">
        <label for="username">Username</label>
        <input class="form-control" name="username" type="text" id="username">
      </div>
      <div class="col-6">
        <label for="password">Senha</label>
        <input class="form-control" name="password" type="password" id="password">
      </div>
      <br>
      <button class="btn btn-primary col-3" type="submit">Entrar</button>
    </form>
  </div>


  <footer th:replace="~{fragmentos :: rodape}"></footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>