<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="~{fragmentos :: cabecalho('Price Whisper - Produtos')}"></head>
<body>

<header th:replace="~{fragmentos :: navbar}"></header>

<div class="container">
  <div class="row">
    <div id="alert-cadastrar-marca-sucesso"
         class="alert alert-success"
         th:if="${param.registrado}"
         role="alert"
         th:text="#{success.brand.create}"
    >
    </div>
  </div>

  <div class="row">
    <div id="alert-atualizar-marca-sucesso"
         class="alert alert-success"
         th:if="${param.atualizado}"
         role="alert"
         th:text="#{success.brand.update}"
    >
    </div>
  </div>

  <div class="row">
    <div id="alert-deletar-marca-sucesso"
         class="alert alert-success"
         th:if="${param.deletado}"
         role="alert"
         th:text="#{success.brand.delete}"
    >
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col" th:text="#{name}"></th>
          <th scope="col" th:text="#{edit}"></th>
          <th scope="col" th:text="#{delete}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="marca : ${marcas}">
          <td class="col" th:text="${marca.id}"></td>
          <td class="col" th:text="${marca.nome}"></td>
          <td class="col-2">
            <a th:href="@{/marcas/form_editar_marca/{idMarca}(idMarca = ${marca.id})}" th:text="#{edit}"></a>
          </td>
          <td class="col-2">
            <a th:href="@{/marcas/api/delete/{idMarca}(idMarca = ${marca.id})}" th:text="#{delete}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <a th:href="@{/marcas/form_nova_marca}" class="btn btn-primary col-3" th:text="#{new.brand}"></a>
  </div>
</div>

<footer th:replace="~{fragmentos :: rodape}"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>