<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="~{fragmentos :: cabecalho('Price Whisper - Produtos')}" />
<body>
<div class="container">
  <a th:href="@{/}" style="text-decoration: none; color: #000000;">
    <h1 class="text-center">Price Whisper</h1>
    <h3 class="text-center">Retornar</h3>
  </a>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="marca : ${marcas}">
          <td class="col" th:text="${marca.id}"></td>
          <td class="col" th:text="${marca.nome}"></td>
          <td class="col-2">
            <a th:href="@{/editar-marca/{idMarca}(idMarca = ${marca.id})}">Editar</a>
          </td>
          <td class="col-2">
            <a th:href="@{/deletar-marca/{idMarca}(idMarca = ${marca.id})}">Deletar</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <a th:href="@{/nova-marca}" class="btn btn-dark col-3">Nova Marca</a>
  </div>


  <footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <div class="text-center p-3">
      © 2024 OMCorp
    </div>
  </footer>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>